rules_version = '2';

// いったん、全てのユーザーに対して読み取りのみを許可する
// ログイン機能を実装したら、ユーザー認証を行う
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // function isAuthenticated() {
      //   return request.auth != null;
      // }
      // function isUserAuthenticated(userId) {
      //   return isAuthenticated() && request.auth.uid == userId;
      // }
      allow read: if true;
      allow write: if false;

      match /histories/{historyId} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}
